{
  "printWidth": 100,
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "plugins": [
    "prettier-plugin-css-order",
    "prettier-plugin-organize-imports",
    "prettier-plugin-sh"
  ],
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
